@media (max-width: 40em) {
    header {
        a.face {
            display: none;
        }
    }

    .container {
        padding: 0 1.5em 0 1.5em;
    }

    .highlighttable {
        td.linenos {
            width: 0%;
            display: none;
            border-right: none;
        }
        td.code {
            width: 100%;
            border-left: none;
        }
    }

    article h1 {
        font-size: 1.75em;
    }

    nav a.rss {
        display: none;
    }
}

@media (max-width: 37em) {
    .highlighttable {
        font-size: 11px;
    }
}
