<html>
  <head>
    {% if page.title %}
      <title>{{page.title}} | Alex Michael</title>
    {% else %}
      <title>Alex Michael</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="author" content="Alex Michael">
    <meta charset="description" content="Software Engineer @tictail, founder @hackcyprus. Startups, code, beer. #yolo">
    <script type="text/javascript" src="//use.typekit.net/lyg1ini.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/" class="face">&nbsp;</a>
        <h1><a href="/">Alex Michael</a></h1>
        <h3>Engineer <a href="http://tictail.com">@tictail</a>, founder <a href="http://hackcyprus.com">@hackcyprus</a>.</h3>
        <nav>
          <a href="/about.html">Background</a>
          <a href="https://github.com/alexmic">Code</a>
          <a href="https://twitter.com/alexismic">Tweets</a>
          <a class="rss" href="/feed.xml">RSS</a>
        </nav>
        <p class="chasm">&nbsp;</p>
      </header>
      {{content}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27806321-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </div>
  </body>
</html>